In [1]:

import pandas as pd
import requests
import json

In [2]:
df_combines = pd.read_csv('combined')

In [4]:
df_combines.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,NaN,NaN
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"Steve Martin, Diane Keaton, Martin Short, Kimb...",NaN

In [5]:
# Convertir la fecha de estreno a datetime para facilitar las operaciones
df_combines['release_date'] = pd.to_datetime(df_combines['release_date'], errors='coerce')

In [6]:
# Extraer el número del mes de la columna release_date
df_combines['mes_numero'] = df_combines['release_date'].dt.month

In [7]:
# Crear un diccionario para mapear el número del mes al nombre del mes en español
meses_dict = {
    1: 'enero', 2: 'febrero', 3: 'marzo', 4: 'abril', 5: 'mayo', 6: 'junio',
    7: 'julio', 8: 'agosto', 9: 'septiembre', 10: 'octubre', 11: 'noviembre', 12: 'diciembre'
}

In [8]:
# Mapear el número del mes al nombre del mes
df_combines['mes'] = df_combines['mes_numero'].map(meses_dict)

In [9]:
# Verificar algunas filas de ejemplo para 'release_date' y 'mes'
print(df_combines[['release_date', 'mes']].head(20))

   release_date        mes
0    1995-10-30    octubre
1    1995-12-15  diciembre
2    1995-12-22  diciembre
3    1995-12-22  diciembre
4    1995-02-10    febrero
5    1995-12-15  diciembre
6    1995-12-15  diciembre
7    1995-12-22  diciembre
8    1995-12-22  diciembre
9    1995-11-16  noviembre
10   1995-11-17  noviembre
11   1995-12-22  diciembre
12   1995-12-22  diciembre
13   1995-12-22  diciembre
14   1995-12-22  diciembre
15   1995-11-22  noviembre
16   1995-12-13  diciembre
17   1995-12-09  diciembre
18   1995-11-10  noviembre
19   1995-11-21  noviembre

In [10]:
def cantidad_filmaciones_mes(df, mes: str):
    # Filtrar por el estado 'Released'
    df_released = df[df['status'] == 'Released']
    
    # Contar las películas por mes
    mes = mes.lower()
    cantidad = df_released[df_released['mes'] == mes].shape[0]
    return f"{cantidad} películas fueron estrenadas en el mes de {mes.capitalize()}"

# Probar la función con un mes de ejemplo
mes_a_probar = "abril"  # Cambia este valor al mes que quieras probar
resultado = cantidad_filmaciones_mes(df_combines, mes_a_probar)
print(resultado)

3423 películas fueron estrenadas en el mes de Abril

In [40]:
df_combines.to_parquet('movies_dataset.parquet')

In [11]:
df_combines.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,mes_numero,mes
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,NaN,NaN,10.0,octubre
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,12.0,diciembre
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",NaN,12.0,diciembre
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,12.0,diciembre
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"Steve Martin, Diane Keaton, Martin Short, Kimb...",NaN,2.0,febrero

In [4]:
# Convertir la fecha de estreno a datetime para facilitar las operaciones
df_combines['release_date'] = pd.to_datetime(df_combines['release_date'], errors='coerce')

# Crear un diccionario para mapear los días de la semana en inglés a español
dias_dict = {
    'Monday': 'lunes', 'Tuesday': 'martes', 'Wednesday': 'miércoles', 'Thursday': 'jueves',
    'Friday': 'viernes', 'Saturday': 'sábado', 'Sunday': 'domingo'
}

# Extraer el día de la semana de la columna release_date
df_combines['dia_semana'] = df_combines['release_date'].dt.day_name().map(dias_dict)

In [5]:
def cantidad_filmaciones_dia(df, dia: str):
    # Filtrar por el estado 'Released'
    df_released = df[df['status'] == 'Released']
    
    # Contar las películas por día de la semana
    dia = dia.lower()
    cantidad = df_released[df_released['dia_semana'] == dia].shape[0]
    return f"{cantidad} películas fueron estrenadas en los días {dia.capitalize()}"

# Probar la función con un día de ejemplo
dia_a_probar = "lunes"  # Cambia este valor al día que quieras probar
resultado = cantidad_filmaciones_dia(df_combines, dia_a_probar)
print(resultado)

3474 películas fueron estrenadas en los días Lunes

In [3]:
# Convertir la fecha de estreno a datetime para facilitar las operaciones
df_combines['release_date'] = pd.to_datetime(df_combines['release_date'], errors='coerce')

In [4]:
def score_titulo(df, titulo_de_la_filmacion: str):
    # Filtrar por el título de la filmación
    film = df[df['title'].str.lower() == titulo_de_la_filmacion.lower()]
    
    if not film.empty:
        film = film.iloc[0]
        titulo = film['title']
        anio = film['release_date'].year
        score = film['popularity']
        return f"La película {titulo} fue estrenada en el año {anio} con un score/popularidad de {score}"
    else:
        return "Película no encontrada"

# Probar la función con un título de ejemplo
titulo_a_probar = "Toy Story"  # Cambia este valor al título que quieras probar
resultado = score_titulo(df_combines, titulo_a_probar)
print(resultado)

La película Toy Story fue estrenada en el año 1995 con un score/popularidad de 21.946943

In [3]:
# Convertir la fecha de estreno a datetime para facilitar las operaciones
df_combines['release_date'] = pd.to_datetime(df_combines['release_date'], errors='coerce')

In [4]:
def votos_titulo(df, titulo_de_la_filmacion: str):
    # Filtrar por el título de la filmación
    film = df[df['title'].str.contains(titulo_de_la_filmacion, case=False, na=False)]
    
    if not film.empty:
        film = film.iloc[0]
        if film['vote_count'] >= 2000:
            titulo = film['title']
            anio = film['release_date'].year
            total_votos = film['vote_count']
            promedio_votos = film['vote_average']
            return f"La película {titulo} fue estrenada en el año {anio}. La misma cuenta con un total de {total_votos} valoraciones, con un promedio de {promedio_votos}"
        else:
            return "La película no cumple con la condición de tener al menos 2000 valoraciones"
    else:
        return "Película no encontrada"

# Probar la función con un título de ejemplo
titulo_a_probar = "Toy Story"  # Cambia este valor al título que quieras probar
resultado = votos_titulo(df_combines, titulo_a_probar)
print(resultado)

La película Toy Story fue estrenada en el año 1995. La misma cuenta con un total de 5415.0 valoraciones, con un promedio de 7.7

In [5]:
# Convertir la fecha de estreno a datetime para facilitar las operaciones
df_combines['release_date'] = pd.to_datetime(df_combines['release_date'], errors='coerce')

In [11]:
def get_actor(df, nombre_actor: str):
    # Filtrar por las filas que contienen información del elenco (cast)
    df_cast = df.dropna(subset=['cast'])

    # Crear variables para almacenar la cantidad de películas y el retorno total
    total_peliculas = 0
    total_retorno = 0

    # Iterar sobre las filas del dataframe
    for index, row in df_cast.iterrows():
        # Separar la cadena de actores por comas y verificar si el actor está en la lista
        cast_list = [actor.strip() for actor in row['cast'].split(',')]
        if nombre_actor.lower() in [actor.lower() for actor in cast_list]:
            total_peliculas += 1
            total_retorno += row['revenue'] - row['budget']

    # Calcular el promedio de retorno
    if total_peliculas > 0:
        promedio_retorno = total_retorno / total_peliculas
        return f"El actor {nombre_actor} ha participado de {total_peliculas} cantidad de filmaciones, el mismo ha conseguido un retorno de {total_retorno} con un promedio de {promedio_retorno} por filmación"
    else:
        return "Actor no encontrado o no tiene suficientes participaciones"

# Probar la función con un nombre de actor de ejemplo
actor_a_probar = "Tom Hanks"  # Cambia este valor al nombre del actor que quieras probar
resultado = get_actor(df_combines, actor_a_probar)
print(resultado)

El actor Tom Hanks ha participado de 15 cantidad de filmaciones, el mismo ha conseguido un retorno de 570433387.0 con un promedio de 38028892.46666667 por filmación

In [6]:
def explorar_columna_crew(df, num_filas=5):
    # Imprimir algunas filas de la columna 'crew'
    print(df['crew'].head(num_filas))

# Ejecutar la función para explorar la columna 'crew'
explorar_columna_crew(df_combines, num_filas=100)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
95    NaN
96    NaN
97    NaN
98    NaN
99    NaN
Name: crew, Length: 100, dtype: object

In [4]:
def get_director(df, nombre_director: str):
    # Filtrar por las filas que contienen información del equipo (crew)
    df_crew = df.dropna(subset=['crew'])

    # Crear variables para almacenar la cantidad de películas y el retorno total
    total_peliculas = 0
    total_retorno = 0
    peliculas_info = []

    # Iterar sobre las filas del dataframe
    for index, row in df_crew.iterrows():
        # Convertir la columna 'crew' a una lista de diccionarios
        try:
            crew_list = json.loads(row['crew'].replace("'", '"'))
        except json.JSONDecodeError:
            continue

        # Verificar si el director está en el equipo
        for crew_member in crew_list:
            if crew_member.get('department', '').lower() == 'directing' and crew_member.get('name', '').lower() == nombre_director.lower():
                total_peliculas += 1
                retorno_individual = row['revenue'] - row['budget']
                total_retorno += retorno_individual
                peliculas_info.append({
                    "titulo": row['title'],
                    "fecha_lanzamiento": row['release_date'],
                    "retorno_individual": retorno_individual,
                    "costo": row['budget'],
                    "ganancia": row['revenue']
                })

    # Calcular el promedio de retorno
    if total_peliculas > 0:
        promedio_retorno = total_retorno / total_peliculas
        return {
            "message": f"El director {nombre_director} ha participado de {total_peliculas} cantidad de filmaciones, el mismo ha conseguido un retorno de {total_retorno} con un promedio de {promedio_retorno} por filmación",
            "peliculas": peliculas_info
        }
    else:
        return "Director no encontrado o no tiene suficientes participaciones"

# Probar la función con un nombre de director de ejemplo
director_a_probar = "Steven Spielberg"  # Cambia este valor al nombre del director que quieras probar
resultado = get_director(df_combines, director_a_probar)
print(resultado)

Director no encontrado o no tiene suficientes participaciones